header{
  background-color: #f4f4f4;
  padding: 5px;
  text-align: right;
}
.home{
  background-color: darkcyan;
}
.home-section{
  text-align: center;
  font-size: 2em;
}
.home-image{
width: 450px;
height: 450px; 
display: block;
margin-left: auto;
margin-right: auto;
}
.Henry{
  text-align: center;
  font-size: 2em;
  font-family: cursive;
}